html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #120C1C, #240046, #b41ad3, #9D4EDD);
    background-size: 400% 400%;
    animation: moveBg 6s ease infinite; 
}

@keyframes moveBg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-heading{
    font-family: cursive;
    color: #296bb6;
    text-align: center;
}

.calculator-div{
    border: 3px solid rgb(42, 9, 58);
    width: 210px;
    margin: auto;
    background-color:rgb(36, 11, 48);
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(115, 31, 170);

}
.clearbtn{
    width: 190px;
    margin-top: 15px;
    margin-left: 9px;
    margin-bottom: 5px;
    border-color: rgb(95, 191, 194);
    border-radius: 2px;
    box-shadow: 1px 0px 4px rgb(15, 69, 105);

    
}
.result{
    width: 195px;
    margin-top: 17px;
    margin-left: 4px;
    outline: none;
    outline-color: palevioletred;
    box-shadow: 0px 0px 4px plum;
    color: white;
}
.btn-div{
    margin-left: 8px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.btn{
    padding-top: 5px;
    width: 45px;
    border-radius: 3px;
    border-color: rgb(95, 191, 194);
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgb(15, 69, 105);

}

.btn1{
    padding-top: 5px;
    width: 94px;
    border-radius: 3px;
    border-color: rgb(95, 191, 194);
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgb(15, 69, 105);
}