.form-container{
    border: 2px solid black;
    width: fit-content;
    padding: 12px;
}
.form-container > h3 {
    text-align: center;
}

.sign-up{
    text-align: center;
    margin-left: 50px;
}